@model LooksAliceWebAspNet.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar senha";
}



<!--Fundo rosa-->
<div class="boxFundoGAcc">
    <!--box beje-->
    <div class="boxGAcc">
        <!--Titulo Gerenciar-->
        <div class="boxTituloGAcc">
            <h2 class="textTituloPageAccount">ALTERAR SENHA</h2>
        </div>
        <!--Titulo LooksAlice-->
        <div class="boxTextLooksAliceAccountPage">
            <h3 class="fonteLA LooksAliceProduto">LOOKS ALICE</h3>
        </div>
        <!--Divisor-->
        <hr class="divisorLogin" />
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "BoxForms", role = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="boxFormUni">
                @Html.LabelFor(m => m.OldPassword, new { @class = " labelForms" })

                @Html.PasswordFor(m => m.OldPassword, new { @class = "textBoxForms", @placeholder = "senha atual" })

            </div>
            <div class="boxFormUni">
                @Html.LabelFor(m => m.NewPassword, new { @class = " labelForms" })

                @Html.PasswordFor(m => m.NewPassword, new { @class = "textBoxForms", @placeholder = "nova senha" })

            </div>
            <div class="boxFormUni">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = " labelForms" })

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textBoxForms", @placeholder = "confirmar nova senha" })

            </div>
            <div class="boxFormUni">
                <div class="boxBtnConfirmAccount">
                    <input type="submit" value="Alterar Senha" class="btnConfirmAccount" />
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
